/*! Não edite esse arquivo, ele foi gerado de maneira automatizada */
@import url("//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html,
body {
  background: transparent;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}
form.qd-loading {
  position: relative;
}
form.qd-loading:before {
  content: "";
  background: url("../../-arquivos/images/ajax-loader.gif") no-repeat center center #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: block;
  border-radius: 6px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.qd-v1-modal-newsletter {
  color: #ffffff;
}
.qd-v1-modal-newsletter .modal-footer,
.qd-v1-modal-newsletter .modal-header {
  display: none;
}
.qd-v1-modal-newsletter .modal-body {
  position: relative;
  padding: 0;
}
@media (max-width: 992px) {
  .qd-v1-modal-newsletter .modal-body:before {
    width: 100%;
    height: 200px;
    display: block;
    background: url("../images/imagem-destaque-newsletter.jpg") no-repeat 50% 50%;
    background-size: cover;
    border-radius: 0;
    content: "";
  }
}
.qd-v1-modal-newsletter .modal-dialog {
  display: block;
  margin: 60px auto 10px;
  max-width: 850px;
  width: 90%;
  background: url("../../-arquivos/images/ajax-loader.gif") no-repeat center;
  background-color: #d0d0d0;
  border-radius: 0;
}
@media (max-width: 1200px) {
  .qd-v1-modal-newsletter .modal-dialog {
    margin-top: 45px;
  }
}
@media (max-width: 992px) {
  .qd-v1-modal-newsletter .modal-dialog {
    max-width: 400px;
  }
}
.qd-v1-modal-newsletter .modal-content {
  position: relative;
  padding: 0;
  width: 100%;
  background: url("../images/imagem-destaque-newsletter.jpg") no-repeat 50% 50%;
  background-size: cover;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
@media (max-width: 992px) {
  .qd-v1-modal-newsletter .modal-content {
    background-color: #ffffff;
    background-image: none;
  }
}
.qd-v1-modal-newsletter form {
  min-height: 500px;
}
@media (max-width: 992px) {
  .qd-v1-modal-newsletter form {
    min-height: auto;
    padding: 15px;
    background-color: #efefef;
  }
}
.qd-v1-modal-newsletter .content-close {
  transition: all 0.2s ease-out;
  position: absolute;
  top: -35px;
  right: 0;
  font-size: 12px;
  cursor: pointer;
}
.qd-v1-modal-newsletter .content-close:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.qd-v1-modal-newsletter .content-close:before {
  text-transform: uppercase;
  content: "Fechar";
}
.qd-v1-modal-newsletter .content-close i {
  padding: 2px 0 5px 7px;
  color: #ffffff;
  font-size: 26px;
  vertical-align: middle;
}
.qd-v1-modal-newsletter .qd_news {
  float: right;
  max-width: 450px;
  padding: 120px 35px 120px 70px;
}
@media (max-width: 992px) {
  .qd-v1-modal-newsletter .qd_news {
    float: none;
    padding: 0;
  }
}
.qd-v1-modal-newsletter .form-text {
  text-align: center;
}
.qd-v1-modal-newsletter .form-subtitle {
  display: block;
  margin-bottom: 15px;
  color: #262626;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: left;
}
@media (max-width: 992px) {
  .qd-v1-modal-newsletter .form-subtitle {
    margin-bottom: 10px;
  }
}
.qd-v1-modal-newsletter .form-title {
  margin-bottom: 15px;
  color: #f99d1b;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
}
@media (max-width: 767px) {
  .qd-v1-modal-newsletter .form-title {
    margin-bottom: 10px;
  }
}
.qd-v1-modal-newsletter .form-text-content {
  margin-bottom: 25px;
  color: #262626;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .qd-v1-modal-newsletter .form-text-content {
    margin-bottom: 15px;
    font-size: 14px;
  }
}
.qd-v1-modal-newsletter .qd_news_success {
  display: none;
  padding-top: 170px;
  padding-bottom: 170px;
  text-align: center;
}
@media (max-width: 1200px) {
  .qd-v1-modal-newsletter .qd_news_success {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 992px) {
  .qd-v1-modal-newsletter .qd_news_success {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 991px) {
  .qd-v1-modal-newsletter .qd_news_success {
    text-align: center;
  }
}
.qd-v1-modal-newsletter .qd_news_success .form-row {
  padding-left: 0;
}
.qd-v1-modal-newsletter .qd_news_success .form-title {
  margin-bottom: 13px;
}
.qd-v1-modal-newsletter .qd_news_success .form-label {
  display: block;
  margin-bottom: 20px;
  padding: 5px;
  font-style: normal;
  font-weight: 400;
  background-color: #ffffff;
}
.qd-v1-modal-newsletter .qd_news_success .form-control {
  margin-bottom: 0;
  color: #33cc33;
  font-style: normal;
  text-align: center;
  border: 2px dashed #33cc33;
  border-radius: 0;
}
@media (max-width: 1200px) {
  .qd-v1-modal-newsletter .qd_news_success .qd_news_button {
    margin-top: 15px;
  }
}
.qd-v1-modal-newsletter .qd_news_success .qd_news_button:after {
  content: "\f0a9";
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  height: 1em;
  text-align: center;
  text-decoration: inherit;
  text-rendering: optimizelegibility;
  width: 1em;
  font-family: 'FontAwesome';
  transition: all 0.2s ease-out;
  position: relative;
  top: -5px;
  margin-left: 10px;
  font-size: 20px;
  vertical-align: middle;
}
.qd-v1-modal-newsletter .qd-form-success .qd_news {
  display: none;
}
.qd-v1-modal-newsletter .qd-form-success .qd_news_success {
  display: block;
}
.qd-v1-modal-newsletter .form-row {
  width: 100%;
  text-align: left;
}
.qd-v1-modal-newsletter .input-wrapper {
  position: relative;
}
.qd-v1-modal-newsletter .input-wrapper:before {
  content: "\f003";
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  height: 1em;
  text-align: center;
  text-decoration: inherit;
  text-rendering: optimizelegibility;
  width: 1em;
  font-family: 'FontAwesome';
  transition: all 0.2s ease-out;
  position: absolute;
  top: 11px;
  left: 12px;
  margin-left: 10px;
  font-size: 20px;
  vertical-align: middle;
  color: #d0d0d0;
}
.qd-v1-modal-newsletter input[type="text"] {
  border: #dadada solid;
  border-width: 1px;
  width: 100%;
  height: 50px;
  display: block;
  margin-bottom: 20px;
  padding: 5px 20px;
  padding-left: 50px;
  color: #b0b0b0;
  font-size: 14px;
  font-style: italic;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: none;
}
@media (max-width: 992px) {
  .qd-v1-modal-newsletter input[type="text"] {
    border-color: #efefef;
  }
}
.qd-v1-modal-newsletter input[type="text"]::-webkit-input-placeholder {
  color: #b0b0b0;
}
.qd-v1-modal-newsletter input[type="text"]:-moz-placeholder {
  color: #b0b0b0;
}
.qd-v1-modal-newsletter input[type="text"]::-moz-placeholder {
  color: #b0b0b0;
}
.qd-v1-modal-newsletter input[type="text"].error {
  border-color: #c34e4c;
}
.qd-v1-modal-newsletter input[type="text"].error::-webkit-input-placeholder {
  color: #c34e4c;
}
.qd-v1-modal-newsletter input[type="text"].error:-moz-placeholder {
  color: #c34e4c;
}
.qd-v1-modal-newsletter input[type="text"].error::-moz-placeholder {
  color: #c34e4c;
}
.qd-v1-modal-newsletter .qd_news_button {
  width: auto;
  height: 50px;
  display: inline-block;
  padding: 6px 45px;
  transition: all 0.2s ease-out;
  position: relative;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  outline: none;
  vertical-align: middle;
  background: #4dc6e1;
  border: none;
  box-shadow: inset 0 -3px 5px #37bfdd;
  border-radius: 30px;
  overflow: hidden;
  text-transform: uppercase;
}
.qd-v1-modal-newsletter .qd_news_button:hover {
  background-color: #5ecce4;
}
.qd-v1-modal-newsletter .qd_news_button:active {
  background-color: #37bfdd;
}
.qd-v1-modal-newsletter .qd_news_button:after {
  content: "\f1d9";
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  height: 1em;
  text-align: center;
  text-decoration: inherit;
  text-rendering: optimizelegibility;
  width: 1em;
  font-family: 'FontAwesome';
  transition: all 0.2s ease-out;
  position: relative;
  top: -5px;
  margin-left: 10px;
  font-size: 20px;
  vertical-align: middle;
}
@media (max-width: 991px) {
  .qd-v1-modal-newsletter .qd_news_button {
    width: 100%;
    display: block;
  }
}
.newsletter-bar-qd-v1 {
  background: #f99d1b;
  position: fixed;
  padding: 5px;
  width: 100%;
  top: -100%;
  transition: all 0.2s ease-out;
}
.newsletter-bar-qd-v1.qd-active {
  top: 0%;
  transition: all 0.2s ease-out;
}
.newsletter-bar-qd-v1 .qd_news {
  display: inline-block;
  width: 93%;
}
@media (max-width: 767px) {
  .newsletter-bar-qd-v1 .qd_news {
    width: 100%;
  }
}
.newsletter-bar-qd-v1 .newsletter-bar-qd-v1-close {
  width: 5%;
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .newsletter-bar-qd-v1 .newsletter-bar-qd-v1-close {
    position: absolute;
    top: -7px;
    left: auto;
    right: 5px;
  }
}
.newsletter-bar-qd-v1 .newsletter-bar-qd-v1-step-2 {
  display: none;
}
@media (max-width: 1200px) {
  .newsletter-bar-qd-v1 .newsletter-bar-qd-v1-text {
    width: 100%;
    text-align: center;
    float: left;
    margin-bottom: 10px;
  }
}
.newsletter-bar-qd-v1 .newsletter-bar-qd-v1-text i {
  color: #fbbf6b;
  font-size: 42px;
  float: left;
}
@media (max-width: 767px) {
  .newsletter-bar-qd-v1 .newsletter-bar-qd-v1-text i {
    float: none;
    display: block;
    margin: 0 auto;
    font-size: 32px;
  }
}
.newsletter-bar-qd-v1 .newsletter-bar-qd-v1-text p {
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  float: left;
  margin-left: 10px;
  margin-top: 6px;
}
@media (max-width: 767px) {
  .newsletter-bar-qd-v1 .newsletter-bar-qd-v1-text p {
    text-align: center;
    width: 100%;
  }
}
.newsletter-bar-qd-v1 .newsletter-bar-qd-v1-input {
  position: relative;
}
.newsletter-bar-qd-v1 .qd_news_email {
  padding: 11px 12px;
  height: auto;
  border: 1px solid transparent;
  color: #686868;
}
.newsletter-bar-qd-v1 .qd_news_email:focus {
  border-color: #dadada;
}
.newsletter-bar-qd-v1 .qd_news_email::placeholder {
  color: #b0b0b0;
}
.newsletter-bar-qd-v1 .qd_news_email.error {
  border-color: #c34e4c;
}
.newsletter-bar-qd-v1 .qd_news_button {
  border: none;
  background: none;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  width: 43px;
  height: 43px;
  font-size: 21px;
  outline: none;
}
.newsletter-bar-qd-v1 .qd_news_button:before {
  content: "\f1d8";
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  height: 1em;
  text-align: center;
  text-decoration: inherit;
  text-rendering: optimizelegibility;
  width: 1em;
  font-family: 'FontAwesome';
  color: #4dc6e1;
}
.newsletter-bar-qd-v1.qd-success .newsletter-bar-qd-v1-step-1 {
  display: none;
}
.newsletter-bar-qd-v1.qd-success .newsletter-bar-qd-v1-step-2 {
  display: block;
}
@media (max-width: 1200px) {
  .newsletter-bar-qd-v1.qd-success .newsletter-bar-qd-v1-text {
    text-align: center;
    float: none;
  }
}
@media (max-width: 1200px) {
  .newsletter-bar-qd-v1.qd-success .newsletter-bar-qd-v1-text i {
    float: none;
    display: block;
    margin: 0 auto;
    font-size: 32px;
  }
}
@media (max-width: 1200px) {
  .newsletter-bar-qd-v1.qd-success .newsletter-bar-qd-v1-text p {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .newsletter-bar-qd-v1.qd-success .newsletter-bar-qd-v1-input {
    text-align: center;
    width: 100%;
  }
}
.newsletter-bar-qd-v1 .newsletter-bar-qd-v1-cupom {
  background: #ffffff;
  color: #4dc6e1;
  font-size: 20px;
  clip-path: polygon(0% 0%, 75% 0%, 85% 50%, 75% 100%, 0% 100%);
  font-weight: 700;
  padding: 10px;
  padding-right: 46px;
  border-radius: 6px;
  display: inline-block;
}
@media (max-width: 1200px) {
  .newsletter-bar-qd-v1 .newsletter-bar-qd-v1-cupom {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.newsletter-bar-qd-v1 .newsletter-bar-qd-v1-cupom-text {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  position: relative;
  top: -3px;
}
@media (max-width: 1200px) {
  .newsletter-bar-qd-v1 .newsletter-bar-qd-v1-cupom-text {
    text-align: center;
    width: 100%;
  }
}
